# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/FE/dist
/FE/tmp
/FE/out-tsc
/FE/bazel-out

# Node
/FE/node_modules
/FE/npm-debug.log
/FE/yarn-error.log

# IDEs and editors
/FE/.idea/
/FE/.project
/FE/.classpath
/FE/.c9/
/FE/.launch
/FE/.settings/
/FE/.sublime-workspace

# Visual Studio Code
/FE/.vscode/*
/FE/.vscode/settings.json
/FE/.vscode/tasks.json
/FE/.vscode/launch.json
/FE/.vscode/extensions.json
/FE/.history/*

# Miscellaneous
/FE/.angular/cache
/FE/.sass-cache/
/FE/connect.lock
/FE/coverage
/FE/libpeerconnection.log
/FE/testem.log
/FE/typings

# System files
/FE/.DS_Store
/FE/Thumbs.db

#Python
/BE/__pycache__
BE/OBD_Handler/__pycache__/*.pyc
BE/gyroscope/__pycache__/gyroscope.cpython-39.pyc
BE/obd2py.db
BE/OBD_Handler/__pycache__/motore_prestazioni.cpython-39.pyc
BE/config.json
config.json
