<p-button class="absolute top-24 pc:top-12 left-24 pc:left-12 scale-400 pc:scale-250 opacity-75" icon="pi pi-bars"
  (click)="visible_drawer = !visible_drawer" [rounded]="true" severity="secondary" />
<div class="take_all_space">
  <router-outlet></router-outlet>
</div>
<p-drawer header="Menu" [(visible)]="visible_drawer" position="bottom" styleClass="!h-3/4">
  <!-- <div class="grid  gap-2 w-full h-full"> -->
  <div class="grid pc:grid-cols-6 grid-cols-2 gap-2 w-full h-full">
    <div class="flex flex-row justify-center items-center">
      <div class="flex flex-col justify-center items-center gap-1">
        <p-button class="scale-600 pc:scale-400" icon="pi pi-car" (click)="visible_drawer = !visible_drawer"
          [routerLink]="'cruscotto'" [rounded]="true" severity="secondary" />
        <p class="translate-y-30 pc:translate-y-16 text-4xl pc:text-2xl font-mono">Cruscotto</p>
      </div>
    </div>
    <div class="flex flex-row justify-center items-center">
      <div class="flex flex-col justify-center items-center gap-1">
        <p-button class="scale-600 pc:scale-400" icon="pi pi-headphones" (click)="visible_drawer = !visible_drawer"
          [routerLink]="'media'" [rounded]="true" severity="secondary" />
        <p class="translate-y-30 pc:translate-y-16 text-4xl pc:text-2xl font-mono">Media</p>
      </div>
    </div>
    <div class="flex flex-row justify-center items-center">
      <div class="flex flex-col justify-center items-center gap-1">
        <p-button class="scale-600 pc:scale-400" icon="pi pi-chart-scatter" (click)="visible_drawer = !visible_drawer"
          [routerLink]="'statistica'" [rounded]="true" severity="secondary" />
        <p class="translate-y-30 pc:translate-y-16 text-4xl pc:text-2xl font-mono">Statistica</p>
      </div>
    </div>
    <div class="flex flex-row justify-center items-center">
      <div class="flex flex-col justify-center items-center gap-1">
        <p-button class="scale-600 pc:scale-400" icon="pi pi-microchip" (click)="visible_drawer = !visible_drawer"
          [routerLink]="'diagnostica'" [rounded]="true" severity="secondary" />
        <p class="translate-y-30 pc:translate-y-16 text-4xl pc:text-2xl font-mono">Diagnostica</p>
      </div>
    </div>
    <div class="flex flex-row justify-center items-center">
      <div class="flex flex-col justify-center items-center gap-1">
        <p-button class="scale-600 pc:scale-400" icon="pi pi-cog" (click)="visible_drawer = !visible_drawer"
          [routerLink]="'impostazioni'" [rounded]="true" severity="secondary" />
        <p class="translate-y-30 pc:translate-y-16 text-4xl pc:text-2xl font-mono">Impostazioni</p>
      </div>
    </div>
    <div class="flex flex-row justify-center items-center">
      <div class="flex flex-col justify-center items-center gap-1">
        <p-button class="scale-600 pc:scale-400" icon="pi pi-user" (click)="visible_drawer = !visible_drawer"
          [routerLink]="'profile'" [rounded]="true" severity="secondary" />
        <p class="translate-y-30 pc:translate-y-16 text-4xl pc:text-2xl font-mono">Profilo</p>
      </div>
    </div>
  </div>
</p-drawer>

<p-toast [breakpoints]="{ '920px': { width: '100%', right: '0', left: '0' } }" />
